lib

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

# Dependency directory
node_modules

# Infura deployment configuration
secrets.json

# Logs
*.log

# Runtime data
allFiredEvents
scTopics

# Truffle build directory
build

# Zeppelin OS
.zos.session
zos.development.json
